{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h3 class="center blue-text text-darken-3">Meus simulados</h3>
    <ul class="collection">
      {% for exam in exams %}
        <li class="collection-item">
          <p class="center">
            <a href="{% url 'exams:exam-detail' exam.id %}" class="btn-large waves-effect waves-light blue">
              Simulado #{{ exam.id }}
            </a>
            <a href="{% url 'exams:delete-exam' exam.id %}" class="btn-large waves-effect waves-light red">
              <i class="material-icons white-text">delete</i>
            </a>
          </p>
          <p class="center">
            <span class="exam-info">{{ exam.grade }} pontos</span>
            <br>
            {% if not exam.current %}
              <span class="exam-info">Finalizado em {{ exam.updated_date }}</span>
            {% else %}
              <span class="exam-info">Iniciado em {{ exam.created_date }}</span>
            {% endif %}
          </p>
        </li>
      {% empty %}
        <p class="center">Você ainda não realizou simulados.</p>
      {% endfor %}
    </ul>
    {% if is_paginated %}
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{% url 'exams:exam-list' %}?page={{ page_obj.previous_page_number }}" class="float-left">
              <i class="material-icons valign-wrapper">keyboard_arrow_left</i>
            </a>
          {% endif %}
          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          {% if page_obj.has_next %}
            <a href="{% url 'exams:exam-list' %}?page={{ page_obj.next_page_number }}" class="float-right">
              <i class="material-icons valign-wrapper">keyboard_arrow_right</i>
            </a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
{% endblock %}
