{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <h3 class="center blue-text text-darken-3">Autenticação</h3>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <form method="post">
          <div class="errors">
            {% for error in form.errors.values %}
              {{ error }}
            {% endfor %}
          </div>
          {% csrf_token %}
          {% for field in form %}
            <div class="input-field">
              {{ field }}
              <label>{{ field.label }}</label>
            </div>
          {% endfor %}
          <div class="center">
            <button type="button" class="btn waves-effect waves-light red">
              <a href="#" class="white-text">Esqueci a senha</a>
            </button>
            <button type="submit" class="btn waves-effect waves-light blue">
              Entrar <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
